@using Microsoft.AspNet.Identity
@using CustomAuth.Models

@if(Session["userDetails"]!=null)
{
    using (Html.BeginForm("Session", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + ((CustomAuth.Models.UserDetails)Session["userDetails"]).username.ToString() + "!", "Session", "Index",  "Home")
        </li>
        <li>@Html.ActionLink("LogOff", "Session", "Home")</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Index", "Register")</li>
        <li>@Html.ActionLink("Log in", "Index", "Login")</li>
    </ul>
}
